.clinic-image-box {
  width: 100%;
  margin-bottom: 60px;
  left: 0px;
  right: 0px;
  position: relative;
}

.clinic-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  scroll-snap-align: start;
  object-position: center;
}

.desc-clinic-1 {
  padding: 10px 20px;
  background-color: rgb(255, 236, 178);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 16px;
}

.desc-clinic-2 {
  padding: 10px 20px;
  background-color: rgb(212, 239, 252);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 16px;
}

.clinic-body-box {
  padding: 0 var(--padding-x);
  order: 1;
}

.doctor-clinic-detail-1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-left: var(--padding-x);
  gap: 20px;
}

.doctor-img {
  width: 100px;
}
.doctor-clinic-detail-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: var(--padding-x);
  justify-content: center;
}

.doctor-clinic-detail {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 1px 1px #888888;
  width: 100%;
}

.additional-box {
  position: absolute;
  top: 30%;
  left: 4%;
  z-index: 1;
  width: 90%;
  height: 30%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.28);
}

.card-bio {
  padding: 0 var(--padding-x);
  padding-top: 200px;
}
