.footer {
  width: 100%;
  font-size: 12px;
  background-color: var(--blue-400);
  color: white;
  padding: 0px var(--padding-x);
  margin-top: 30px;
  position: sticky;
  top: 100%;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 30px 120px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}
